@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img{
  object-fit: scale-down;
  width: 100%;
}

header{
  text-align: center;
  font-size: 64px;
}

h1{
  font-family: "Playfair Display SC";
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}


/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

/* Column Size for thead */

thead th:nth-child(1), tbody td:nth-child(1), 
thead th:nth-child(2), tbody td:nth-child(2), 
thead th:nth-child(3), tbody td:nth-child(3), 
thead th:nth-child(6), tbody td:nth-child(6){
  width: 10%;
}


/* Column size for tbody */

thead th:nth-child(4), tbody td:nth-child(4), 
thead th:nth-child(5), tbody td:nth-child(5){
  width: 30%;
}