@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 64px;
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}



td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/* Column Size for thead */
th, td {
  width: 10%;
}

th:nth-child(4), th:nth-child(5),
td:nth-child(4), td:nth-child(5) {
  width: 30%;
}
.content_td img {
  overflow-y: auto;
  height: 100%;
  max-height: 100px;
  max-width: 100%;
  object-fit: scale-down;
}

/* Column size for tbody */
.content_row tr:nth-child(2n + 1) {
  background-color: #ffeec9;
}

textarea {
  min-width: 50%;
}